

<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
  <title>GePeTinho</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
  <div class="sidebar">
    <h2>GePeTinho WEB</h2>
    <form method="POST" action="{% url 'myapp:create_chat' %}">
      {% csrf_token %}
    <button type="submit" class="new-chat-btn">+New Chat</button>
    </form>
    <ul class="chat-list">
      {% for chat in chats %}
        {% if user == chat.user %}
         <li><a href = '/chat/{{chat.id}}'>Chat {{chat.id}}</a></li>
          {% endif %}
      {% endfor %}
    </ul>
    <div class="settings">
      <hr class="my-line">
        <form method="POST" action="{% url 'myapp:clear_chat' %}">
          {% csrf_token %}
          <input type="hidden" name="chat_id" value="{{ chat.pk }}">
          <button type="submit" class="clear">Limpar conversas</button>
        </form>

      <form method="POST" action="{% url 'myapp:delete_chat' %}">
          {% csrf_token %}
          <input type="hidden" name="chat_id" value="{{ chat.pk }}">
          <button type="submit" class="clear">Deletar chat</button>
        </form>

      <a href="#" class="config">Configurações</a>

      <form method="POST" action="{% url 'myapp:logout' %}">
      {% csrf_token %}
    <button type="submit" class="clear">Logout</button>
    </form>

    </div>
  </div>

    <div class="chat-detail-container">
    {% block content %}
    {% endblock %}
  </div>

  <div id="settings-popup">
    <form>
      <label for="theme-light">Light Theme</label>
      <input type="radio" name="theme" id="theme-light" value="light">

      <label for="theme-dark">Dark Theme</label>
      <input type="radio" name="theme" id="theme-dark" value="dark">

      <button type="submit">Apply</button>
    </form>
  </div>
</body>
</html>
