<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <style>
    body {
      background-color: black;
      color: white;
    }
  </style>
</head>
<body>
  <div class="login-container">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
    </form>
    <button type="button" class="btn btn-primary btn-google">
      <i class="fa fa-google"></i>
      <a class="white" href="{% url 'social:begin' 'google-oauth2' %}">
        Login com Google
      </a>
    </button>
    <button type="button" class="btn btn-primary btn-signup">
      <a class="white" href="{% url 'myapp:signup' %}">Sign Up</a>
    </button>
  </div>
</body>
</html>
